body{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*per cambiare il font */
    background:url('img/sfondo2.jpg') fixed; /*fixed serve per non muovere l immagine durante lo scorrimento*/
    background-size: cover;
    color: white;
    word-spacing: 7px;

}



   header{
    text-align: center;
    padding: 50px;
    color: #fff;
    background: rgba(245, 245, 220, 0.5); /*colore trasparente*/
}


.logo{

    width: 32%;
    border-radius: 20px;
}
h2{
    text-align: center;

}
h1{
    text-align: center;
}
nav{

    text-align: center;
    background: #deb887;
    padding: 40px;
    font-size: 30px;
    
    
    

}

nav a{
color: #fff;
text-decoration: none; /*togliere la sottolineatura*/
margin:0 15px;  /*per lasciare margine su ogni nav A */
/*ricordati primo numero sopra, secondo destra, terzo sotto, quarto sinistra*/

}
a:hover{
    color:black;
}



section{
    text-align: center;
    padding: 50px;
    background-color: rgba(222, 184, 135, 0.5) ;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
   }
   section a{

    text-decoration: none;
    color: #fff;
   }
   section p{
    font-size: 25px;
   }


   section img{
    width: 50%;
    border-radius: 20px;

   }

   ul{
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    list-style-type: none;

   }
   

   
   
